<div class="container-lg">
  <h2 class="mt-3">お問合せ一覧</h2>
  <div class="row align-items-center">
    <table class="col-lg table table-bordered mx-auto">
      <thead>
        <tr>
          <th style="width: 100px;">日時</th>
          <th style="width: 100px;">名前</th>
          <th style="width: 150px;">用件</th>
          <th style="width: 200px;">内容</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <% link_to %>
          <td><%= contact.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= contact.name %></td>
          <td><%= contact.subject %></td>
          <td><%= contact.message %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>