<div class="container-lg text-center" style="margin-top: 300px; margin-bottom: 250px;">
  <div class="row">
    <div class="col-lg">
      <h3>お問い合わせが完了しました！</h3>
      <%= link_to "トップページに戻る", root_path %>
    </div>
  </div>
</div>