<div class="container-lg">
  <h2 class="mt-3">会員一覧</h2>
  <div class="row mx-auto">
    <table class="col-lg table table-bordered mx-auto">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></td>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td><%= user.is_active %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>